@daily /usr/local/bin/fyi "cd ~www/checkouts/wantmyjob && RAILS_ENV=production /usr/local/bin/passenger_ruby -S rake cron_daily"
@hourly /usr/local/bin/fyi "cd ~www/checkouts/wantmyjob && RAILS_ENV=production /usr/local/bin/passenger_ruby -S rake cron_hourly"

