@daily /usr/local/bin/fyi "/bin/bash -c \"cd ~www/checkouts/wantmyjob && RAILS_ENV=production /usr/local/bin/passenger_ruby -S /usr/local/bin/rake cron_daily\""
@hourly /usr/local/bin/fyi "/bin/bash -c \"cd ~www/checkouts/wantmyjob && RAILS_ENV=production /usr/local/bin/passenger_ruby -S /usr/local/bin/rake cron_hourly\""
@daily /usr/local/bin/fyi "/bin/bash -c \"cd ~www/checkouts/webconf && ./mysqlbackup.sh\""
